html {
	background-image: url(https://www.freepik.com/photos/background);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-align: center;
}
